# Abaikan folder desa
public/desa/*

# Abaikan backup_inkremental
public/backup_inkremental/*

# Abaikan file
*.log
log-*.php
info.php
**/.DS_Store
sftp-config.json
.php-cs-fixer.cache
.htaccess
*.sql
mitra

# Abaikan file cache milik phpintel (plugin sublime text)
.phpintel/*
.idea/*

# Abaikan file milik library Release dan Curly
*.pem
version.json

# obfuscator
Obfuscator.php
make_obfuscate.php

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
